@model Tasks
<div class="container">
    <form class="form-control pt-0 w-50 mx-auto bg-info" method="post">  
            <div class="row text-center">
                <h2 style="background:lightgreen;">Add New Task</h2>
            </div>
            <div class="mb-3">
                <label asp-for="TaskName"></label>
                <input disabled  asp-for="TaskName" class="form-control rounded"/>
                <label asp-for="Description"></label>
                <textarea disabled asp-for="Description"class="form-control rounded"></textarea>
                <label asp-for="Completed"></label>
                <input  disabled type="checkbox" asp-for="Completed" class="form-check-input "/>
                <div class="text-center mt-2"><button type="submit" class="btn btn-success w-100">Add</button></div>
            </div>
    </form>
</div>
